{% extends "ScrumbeProjectBundle:Layout:layout-app.html.twig" %}

{% block title %}Backlog{% endblock %}

{% block nav %}
    <nav class="nav-projects">
        <ul class="left-nav">
            <li class="logo">
                <a href="">
                    <img src="/assets/img/logo.svg" alt="search icon">
                </a>
            </li>
            <li><a href="{{ url('scrumbe_get_projects') }}">{{ "nav.projects" | trans() }}</a></li>
            <li><a href="">{{ "nav.learn" | trans() }}</a></li>
            <li>
                <a href="">
                    <img src="/assets/img/icons/search-icon.svg" alt="search icon">
                </a>
            </li>
        </ul>
        <ul class="right-nav">
            <li class="help">
                <img src="/assets/img/icons/help-icon.svg" alt="help icon"/>
            </li>
            <li>
                <div class="notif-ctn">
                    <img src="/assets/img/icons/notification-icon.svg" alt="notification icon"/>
                    <span class="notif-count">2</span>
                </div>
            </li>
            <li>
                <div class="avatar-ctn">
                    <img src="/assets/img/Claude-Guglieri.png" alt="avatar">
                </div>
                <img src="/assets/img/icons/arrow-down-icon.svg" alt="arrown-down icon">
            </li>
        </ul>
    </nav>
    <div class="sub-nav-projects">
        <span class="title">{{ project.name }}</span>
        <div class="divider"></div>
        <ul class="sub-nav">
            <li>
                <a href="{{ path('sprint') }}">{{ "nav.project.sprint" | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('scrumbe_get_project', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ "nav.project.kanban" | trans() }}</a>
            </li>
            <li class="active">
                <a href="{{ path('scrumbe_get_backlog', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ "nav.project.backlog" | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('team') }}">{{ "nav.project.team" | trans() }}</a>
            </li>
        </ul>
        <div class="members right">
            <div class="divider"></div>
            <ul>
                <li class="add-member">
                    <a href="{#{{ path('scrumbe_add_user_project', {'projectId':project.id}) }}#}">+</a>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                    </div>
                    <div class="connect disconnect"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Christophe-Tauziet.png" alt=""/>
                    </div>
                    <div class="connect innactive"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Jeremy-Thomas.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
            </ul>
        </div>
        <div class="sort-by hide">
            <span class="title">Sort by</span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <a href="" class="add-project hide">
            <img src="/assets/img/icons/add-project-icon.svg" alt="add project icon">
        </a>
    </div>
{% endblock %}

{% block body %}
    <section class="backlog">
        <div class="user-stories">
            <div class="header-col">User stories</div>
            <span class="add-us">Ajouter +</span>
            <ul class="user-stories-list">
                <li class="form-add-us">
                    <form action="">
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <textarea name="description" id="" placeholder="Intitulé" rows="6"></textarea>
                        <div class="footer">
                            <select name="label" id="usColor">
                                <option value="">Couleur</option>
                                <option value="red">Rouge</option>
                                <option value="blue">Bleu</option>
                                <option value="yellow">Jaune</option>
                                <option value="green">Vert</option>
                                <option value="pink">Rose</option>
                                <option value="brown">Marron</option>
                                <option value="purple">Violet</option>
                                <option value="black">Noir</option>
                                <option value="white">Blanc</option>
                            </select>
                            <select name="priority" id="usPriority">
                                <option value="">Priorité</option>
                                <option value="0">Basse</option>
                                <option value="1">Moyenne</option>
                                <option value="2">Haute</option>
                            </select>
                            <span class="submit">Valider</span>
                        </div>
                    </form>
                </li>
                {% for us in project.user_stories %}
                    <li id="{{ us.id }}">
                        <p class="title">{{ us.description }}</p>
                        <div class="footer">
                            <span class="tasks-count">{{ us.task_count }} tâches</span>
                            <div class="priority-ctn">
                                <span class="{{ us.priority }}">{{ ('user_story.priority.' ~ us.priority) |trans }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tasks">
            <div class="header-col">Tâches</div>
            <span class="add-tasks">Ajouter +</span>
            <ul class="tasks-list">
                <li class="form-add-tasks">
                    <form action="">
                        <textarea name="description" id="" placeholder="Intitulé" rows="6"></textarea>
                        <div class="footer">
                            <span class="submit">Valider</span>
                        </div>
                    </form>
                </li>
                {% for task in project.tasks %}
                    <li class="{{ task.user_story_id }}">
                        <p class="title">{{ task.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="members">
            <div class="header-col">Membres</div>
            <ul class="members-list">
                <li>
                    <ul>
                        <li>
                            <img src="/assets/img/Kerem-Suer.png" alt=""/>
                        </li>
                        <li>
                            <img src="/assets/img/Kerem-Suer.png" alt=""/>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="during">
            <div class="header-col">Durée</div>
            <ul class="during-list">
                <li>
                    <span>5</span>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>

        var currentUsId;

        // Display form user storie
        $('.add-us').click(function(){
            $('html, body').animate({scrollTop : 0},800);

            $('.form-add-us').show();

            $('.form-add-us textarea').focus();
        });

        // Submit user storie
        $('.form-add-us .submit').click(function(){
            $.ajax({
                url: '{{ path('scrumbe_post_user_story') }}',
                method: 'POST',
                data: {
                    'project_id': $('.user-stories-list input').val(),
                    'description': $('.user-stories-list textarea').val(),
                    'priority': $('.user-stories-list #usPriority').val(),
                    'label': $('.user-stories-list #usColor').val()
                }
            }).done(function(data){
                console.log(data);
                $('.form-add-us textarea, .form-add-us select').val('');
                $('.form-add-us').hide();
            })
        });

        // Select user storie
        $('.user-stories-list li').click(function(){
            if( $(this).hasClass('selected') ){
                $(this).removeClass('selected');
                $('.add-tasks').hide();
            }
            else if ( $('.form-add-us').is(':visible') ) {
                return false
            }
            else {
                $('.user-stories-list li').removeClass('selected');
                $(this).addClass('selected');
                $('.add-tasks').show();
                currentUsId = $(this).attr('id');
            }
        });

        // Display form add tasks
        $('.add-tasks').click(function(){
            $('html, body').animate({scrollTop : 0},800);

            $('.form-add-tasks').show();

            $('.form-add-tasks textarea').focus();
        });

        // Submit tasks
        $('.form-add-tasks .submit').click(function(){
            $.ajax({
                url: '{{ path('scrumbe_post_task') }}',
                method: 'POST',
                data: {
                    'user_story_id': currentUsId,
                    'description': $('.form-add-tasks textarea').val()
                }
            }).done(function(data){
                console.log(data);
                $('.form-add-tasks textarea').val('');
                $('.form-add-tasks').hide();
            })
        });
    </script>
{% endblock %}