{% extends "ScrumbeProjectBundle:Layout:layout-app.html.twig" %}

{% block title %}Kanban{% endblock %}

{% block nav %}
    <nav class="nav-projects">
        <ul class="left-nav">
            <li class="logo">
                <a href="">
                    <img src="/assets/img/logo.svg" alt="search icon">
                </a>
            </li>
            <li><a href="{{ url('scrumbe_get_projects') }}">{{ "nav.projects" | trans() }}</a></li>
            <li><a href="">{{ "nav.learn" | trans() }}</a></li>
            <li>
                <a href="">
                    <img src="/assets/img/icons/search-icon.svg" alt="search icon">
                </a>
            </li>
        </ul>
        <ul class="right-nav">
            <li class="help">
                <img src="/assets/img/icons/help-icon.svg" alt="help icon"/>
            </li>
            <li>
                <div class="notif-ctn">
                    <img src="/assets/img/icons/notification-icon.svg" alt="notification icon"/>
                    <span class="notif-count">2</span>
                </div>
            </li>
            <li>
                <div class="avatar-ctn">
                    <img src="/assets/img/Claude-Guglieri.png" alt="avatar">
                </div>
                <img src="/assets/img/icons/arrow-down-icon.svg" alt="arrown-down icon">
            </li>
        </ul>
    </nav>
    <div class="sub-nav-projects">
        <span class="title">{{ project.name }}</span>
        <div class="divider"></div>
        <ul class="sub-nav">
            <li>
                <a href="{{ path('scrumbe_get_sprint', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ "nav.project.sprint" | trans() }}</a>
            </li>
            <li class="active">
                <a href="{{ path('scrumbe_get_project', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ 'nav.project.kanban' | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('scrumbe_get_backlog', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ "nav.project.backlog" | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('team') }}">{{ "nav.project.team" | trans() }}</a>
            </li>
        </ul>
        <div class="members right">
            <div class="divider"></div>
            <ul>
                <li class="add-member">
                    <a href="{{ path('scrumbe_add_user_project', {'projectId':project.id}) }}">+</a>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                    </div>
                    <div class="connect disconnect"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Christophe-Tauziet.png" alt=""/>
                    </div>
                    <div class="connect innactive"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Jeremy-Thomas.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
            </ul>
        </div>
        <div class="sort-by hide">
            <span class="title">Sort by</span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <a href="" class="add-project hide">
            <img src="/assets/img/icons/add-project-icon.svg" alt="add project icon">
        </a>
    </div>
{% endblock %}

{% block body %}
    <section class="kanban">
    {% if project.user_stories is not empty %}
        <div class="user-stories">
            <div class="header-col">User stories</div>
            <ul class="user-stories-list column1">
                    {% for us in project.user_stories %}
                        <li class="us" id="{{ us.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="{{ us.label }}"></li>
                                </ul>
                            </div>
                            <div class="content">
                                <p>{{ us.description }}</p>
                            </div>
                            <div class="footer">
                                <span class="tasks">{{ us.task_count }}</span>
                                <div class="priority-ctn">
                                    <span class="{{ us.priority }}">{{ ('user_story.priority.' ~ us.priority) |trans }}</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
            </ul>
        </div>

        <div class="to-do">
            <div class="header-col">A faire</div>
            <ul class="to-do-list column">
                {% if project.tasks.todo is defined %}
                    {% for task in project.tasks.todo %}
                        <li class="task" id="{{ task.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="{{ task.label }}"></li>
                                </ul>
                            </div>
                            <div class="content">
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="footer">
                                <div class="priority-ctn">
                                    <span class="{{ task.priority }}">{{ ('user_story.priority.' ~ task.priority) |trans }}</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}

                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="doing">
            <div class="header-col">En cours</div>
            <ul class="doing-list column">
                {% if project.tasks.wip is defined %}
                    {% for task in project.tasks.wip %}
                        <li class="task" id="{{ task.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="{{ task.label }}"></li>
                                </ul>
                            </div>
                            <div class="content">
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="footer">
                                <div class="priority-ctn">
                                    <span class="{{ task.priority }}">{{ ('user_story.priority.' ~ task.priority) |trans }}</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}

                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="done">
            <div class="header-col">Terminées</div>
            <ul class="done-list column">
                {% if project.tasks.done is defined %}
                    {% for task in project.tasks.done %}
                        <li class="task" id="{{ task.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="{{ task.label }}"></li>
                                </ul>
                            </div>
                            <div class="content">
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="footer">
                                <div class="priority-ctn">
                                    <span class="{{ task.priority }}">{{ ('user_story.priority.' ~ task.priority) |trans }}</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}

                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="activity">
            <div class="header-col">Activité récente</div>
            <ul class="activity-list"></ul>
        </div>
    {% endif %}
    <br><p style="margin-left:10px">Commencez par créer une user story !</p>

    </section>
{% endblock %}

{% block script %}
{% endblock %}