{% extends "ScrumbeProjectBundle:Layout:layout-app.html.twig" %}

{% block title %}Projects{% endblock %}

{% block nav %}
    <nav class="nav-projects">
        <ul class="left-nav">
            <li class="logo">
                <a href="">
                    <img src="/assets/img/logo.svg" alt="search icon">
                </a>
            </li>
            <li><a href="{{ url('scrumbe_get_projects') }}">Projects</a></li>
            <li><a href="">Learn</a></li>
            <li><a href="">Team</a></li>
            <li>
                <a href="">
                    <img src="/assets/img/icons/search-icon.svg" alt="search icon">
                </a>
                {#<input type="text" placeholder="Search...">#}
            </li>
        </ul>
        <ul class="right-nav">
            <li>
                <img src="/assets/img/icons/help-icon.svg" alt="help icon"/>
            </li>
            <li>
                <div class="notif-ctn">
                    <img src="/assets/img/icons/notification-icon.svg" alt="notification icon"/>
                    <span class="notif-count">2</span>
                </div>
            </li>
            <li>
                <div class="avatar-ctn">
                    <img src="/assets/img/Claude-Guglieri" alt="avatar">
                </div>
            </li>
            <li>
                <img src="/assets/img/icons/arrow-down-icon.svg" alt="arrown-down icon">
            </li>
        </ul>
    </nav>
    <div class="sub-nav-projects">
        <span class="title">My projects</span>
        <div class="sort-by">
            <span class="title">Sort by</span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <a href="" class="add-project">
            <img src="/assets/img/icons/add-project-icon.svg" alt="add project icon">
        </a>
    </div>
{% endblock %}


{%  block body %}
    <ul class="projects-list">
        {% for project in projects %}
            <li id="{{project.id}}">
                <div class="head-ctn">
                    <span class="option-btn">
                        <img src="/assets/img/icons/opt-icon.svg" alt="option icon">
                    </span>
                    {#<a href="" class="upload-cover">Upload cover</a>#}
                    <img src="{{project.cover_project}}" class="cover" alt="image project"/>
                    <div class="option-ctn">
                        <span class="close-opt-btn">
                            <img src="/assets/img/icons/close-opt-icon.svg" alt="close icon">
                        </span>
                        <span class="edit-btn">
                            <img src="/assets/img/icons/edit-project-icon.svg" alt="Éditer">
                        </span>
                        <span class="delete-btn">
                            <img src="/assets/img/icons/delete-project-icon.svg" alt="Supprimer">
                        </span>
                    </div>
                    </a>
                </div>
                <div class="info-ctn">
                    <h2>{{project.name}}</h2>
                    <div class="update">
                        Dernière mise à jour le <span class="date">{{project.updated_at.date|date('F d,Y')}}</span>
                    </div>

                    <div class="divider"></div>

                    <a href="" class="go-to-btn">Aller sur le projet</a>
                </div>
            </li>
        {% else %}
            Commencez par créer un projet !
        {% endfor %}
    </ul>

    <script>
        $(document).ready(function(){
            var newProject = '<li class="new-project"><form  name="{{ projectCreateForm.vars.name }}" action="{{ projectCreateForm.vars.action }}" method="{{ projectCreateForm.vars.method }}"><div class="head-ctn"><input type="text" class="upload-cover" id="{{ projectCreateForm.cover_project.vars.id }}" name="project[{{ projectCreateForm.cover_project.vars.name }}]" autocomplete="off" placeholder="Ajouter une image" maxlength="{{ projectCreateForm.cover_project.vars.max_length }}"></div><div class="info-ctn"><input type="text" id="{{ projectCreateForm.name.vars.id }}" name="project[{{ projectCreateForm.name.vars.name }}]" autocomplete="off" placeholder="Nom du projet" maxlength="{{ projectCreateForm.name.vars.max_length }}"><div class="add-members"><span>+</span>Ajouter des participants</div><div class="btn-ctn"><span class="cancel-project-btn">Annuler</span><input type="submit" id="{{ projectCreateForm.save.vars.id }}" name="{{ projectCreateForm.save.vars.name }}" class="valid-project-btn" value="Valider"></div></div><input type="hidden" id="{{ projectCreateForm._token.vars.id }}" name="project[{{ projectCreateForm._token.vars.name }}]" value="{{ projectCreateForm._token.vars.value }}"/></form></li>';

            $('.add-project').click(function(event){
                event.preventDefault();

                if ($('.new-project').is(":visible")){
                    return false
                }
                else {
                    $('.projects-list').append(newProject);
                    $('#project_name').focus();
                }
            });

            $('body').on('click', ".cancel-project-btn", function(){
                $('.new-project').remove();
            })
        })
    </script>
    <script>
        $(document).ready(function(){
            $('.edit-btn').click(function(){
                var projectId = $(this).parent().parent().parent().attr("id");

                $.ajax({
                    method: "GET",
                    url: "projects/form/"+projectId,
                    context: document.body
                }).done(function(data) {
                    var name = $(data).find("#project_name");
                    var cover = $(data).find("#project_cover_project");
                    var submit = $(data).find("#project_save");
                    var token = $(data).find("#project__token");
                    var action = $(data).attr("action");

                    $("#"+projectId).parent().prepend('<li class="edit-project"><form name="project" action="'+action+'" method="POST"><input type="hidden" name="_method" value="PUT"><div class="head-ctn"></div><div class="info-ctn"><div class="btn-ctn"><span class="cancel-project-btn">Annuler</span><input type="submit" id="project_save" name="project[save]" class="valid-project-btn" value="Valider"></div></div></form></li>');
                    $('.edit-project').find('.head-ctn').append(cover);
                    $('.edit-project').find('form').append(token);
                    $('.edit-project').find('.info-ctn').prepend(name);
                    $('#project_name').focus();
                    $("#"+projectId).hide();

//                    $("#"+projectId).append(data);


                }).fail(function() {
                    console.log("error");
                });
            })
        })
    </script>

    {#{{ form(projectCreateForm) }}#}
    <pre>
        {#{{ dump(projects) }}#}
    </pre>

{% endblock %}