{% extends "ScrumbeProjectBundle:Layout:layout-app.html.twig" %}

{% block title %}Projects{% endblock %}

{% block nav %}
    <nav class="nav-projects">
        <ul class="left-nav">
            <li class="logo">
                <a href="">
                    <img src="/assets/img/logo.svg" alt="search icon">
                </a>
            </li>
            <li><a href="">Projects</a></li>
            <li><a href="">Learn</a></li>
            <li><a href="">Team</a></li>
            <li>
                <a href="">
                    <img src="/assets/img/icons/search-icon.svg" alt="search icon">
                </a>
                {#<input type="text" placeholder="Search...">#}
            </li>
        </ul>
        <ul class="right-nav">
            <li>
                <img src="/assets/img/icons/help-icon.svg" alt="help icon"/>
            </li>
            <li>
                <div class="notif-ctn">
                    <img src="/assets/img/icons/notification-icon.svg" alt="notification icon"/>
                    <span class="notif-count">2</span>
                </div>
            </li>
            <li>
                <div class="avatar-ctn">
                    <img src="/assets/img/Claude-Guglieri" alt="avatar">
                </div>
            </li>
            <li>
                <img src="/assets/img/icons/arrow-down-icon.svg" alt="arrown-down icon">
            </li>
        </ul>
    </nav>
    <div class="sub-nav-projects">
        <span class="title">My projects</span>
        <div class="sort-by">
            <span class="title">Sort by</span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <a href="" class="add-project">
            <img src="/assets/img/icons/add-project-icon.svg" alt="add project icon">
        </a>
    </div>
{% endblock %}

{%  block body %}
    <ul class="projects-list">
        {% for project in projects %}
            <li>
                <div class="head-ctn">
                    <span class="option-btn">
                        <img src="/assets/img/icons/opt-icon.svg" alt="option icon">
                    </span>
                    {#<a href="" class="upload-cover">Upload cover</a>#}
                    <img src="/assets/img/photo-1.jpg" class="cover" alt="image project"/>
                    <div class="option-ctn">
                        <span class="close-opt-btn">
                            <img src="/assets/img/icons/close-opt-icon.svg" alt="close icon">
                        </span>
                        <span class="edit-btn">
                            <img src="/assets/img/icons/edit-project-icon.svg" alt="Éditer">
                        </span>
                        <span class="delete-btn">
                            <img src="/assets/img/icons/delete-project-icon.svg" alt="Supprimer">
                        </span>
                    </div>
                </div>
                <div class="info-ctn">
                    <h2>{{ project.name }}</h2>
                    <div class="update">
                        Last update <span class="date">January 1st, 2015</span>
                    </div>
                    <div class="divider"></div>
                    <a href="" class="go-to-btn">Aller sur le projet</a>
                </div>
            </li>
        {% else %}
            Commencez par créer un projet !
        {% endfor %}
        <li class="new-project">
            <div class="head-ctn">
                <a href="" class="upload-cover">Upload cover</a>
            </div>
            <form class="info-ctn" name="{{ projectForm.vars.name }}" action="{{ projectForm.vars.action }}" method="{{ projectForm.vars.method }}">
                {#<div id="{{ projectForm.vars.id }}">#}
                    <input type="text" id="{{ projectForm.name.vars.id }}" name="{{ projectForm.name.vars.name }}" autocomplete="off" placeholder="Nom du projet" maxlength="{{ projectForm.name.vars.max_length }}">
                    <input type="hidden" id="{{ projectForm._token.vars.id }}" name="{{ projectForm._token.vars.name }}" value="{{ projectForm._token.vars.value }}"/>
                    <div class="btn-ctn">
                        <span class="cancel-projet-btn">Annuler</span>
                        <input type="submit" id="{{ projectForm.save.vars.id }}" name="{{ projectForm.save.vars.name }}" class="valid-project-btn" value="Valider">
                    </div>
                {#</div>#}
            </form>
        </li>
    </ul>

    {{ form(projectForm) }}
    <pre>
        {{ dump(projectForm) }}
    </pre>

{% endblock %}
