{% extends "ScrumbeProjectBundle:Layout:layout-app.html.twig" %}

{% block title %}Kanban{% endblock %}

{% block nav %}
    <nav class="nav-projects">
        <ul class="left-nav">
            <li class="logo">
                <a href="">
                    <img src="/assets/img/logo.svg" alt="search icon">
                </a>
            </li>
            <li><a href="{{ url('scrumbe_get_projects') }}">Projects</a></li>
            <li><a href="">Learn</a></li>
            <li><a href="">Team</a></li>
            <li>
                <a href="">
                    <img src="/assets/img/icons/search-icon.svg" alt="search icon">
                </a>
            </li>
        </ul>
        <ul class="right-nav">
            <li>
                <img src="/assets/img/icons/help-icon.svg" alt="help icon"/>
            </li>
            <li>
                <div class="notif-ctn">
                    <img src="/assets/img/icons/notification-icon.svg" alt="notification icon"/>
                    <span class="notif-count">2</span>
                </div>
            </li>
            <li>
                <div class="avatar-ctn">
                    <img src="/assets/img/Claude-Guglieri.png" alt="avatar">
                </div>
                <img src="/assets/img/icons/arrow-down-icon.svg" alt="arrown-down icon">
            </li>
        </ul>
    </nav>
    <div class="sub-nav-projects">
        <span class="title">{{ project.name }}</span>
        <div class="divider"></div>
        <ul class="sub-nav">
            <li>
                <a href="">User Stories</a>
            </li>
            <li>
                <a href="">Sprint</a>
            </li>
            <li class="active">
                <a href="">Kanban</a>
            </li>
            <li>
                <a href="">Backlog</a>
            </li>
        </ul>
        <div class="members right">
            <div class="divider"></div>
            <ul>
                <li class="add-member">
                    <a href="">+</a>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                    </div>
                    <div class="connect disconnect"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Christophe-Tauziet.png" alt=""/>
                    </div>
                    <div class="connect innactive"></div>
                </li>
                <li>
                    <div class="avatar-ctn">
                        <img src="/assets/img/Jeremy-Thomas.png" alt=""/>
                    </div>
                    <div class="connect here"></div>
                </li>
            </ul>
        </div>
        <div class="sort-by hide">
            <span class="title">Sort by</span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <a href="" class="add-project hide">
            <img src="/assets/img/icons/add-project-icon.svg" alt="add project icon">
        </a>
    </div>
{% endblock %}

{% block body %}
    <section class="kanban">
        <div class="user-stories">
            <div class="header-col">User stories</div>
            <ul class="user-stories-list column">
                {% if project.user_stories.us is defined %}
                    {% for us in project.user_stories.us %}
                        <li class="us" id="{{ us.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="red">label</li>
                                </ul>
                                <span class="difficulty">{{ us.complexity }}</span>
                            </div>
                            <div class="content">
                                <p>{{ us.description }}</p>
                            </div>
                            <div class="footer">
                                <div class="task-ctn">
                                    <img src="/assets/img/icons/task-icon.svg" alt="task icon"/>
                                    <span class="task-done">0</span>
                                    <span class="all-task">8</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <span>Commencez par créer une user stories</span>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="to-do">
            <div class="header-col">A faire</div>
            <ul class="to-do-list column">
                {% if project.user_stories.todo is defined %}
                    {% for us in project.user_stories.todo %}
                        <li class="us" id="{{ us.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="red">label</li>
                                </ul>
                                <span class="difficulty">{{ us.complexity }}</span>
                            </div>
                            <div class="content">
                                <p>{{ us.description }}</p>
                            </div>
                            <div class="footer">
                                <div class="task-ctn">
                                    <img src="/assets/img/icons/task-icon.svg" alt="task icon"/>
                                    <span class="task-done">0</span>
                                    <span class="all-task">8</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}

                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="doing">
            <div class="header-col">En cours</div>
            <ul class="doing-list column">
                {% if project.user_stories.wip is defined %}
                    {% for us in project.user_stories.wip %}
                        <li class="us" id="{{ us.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="red">label</li>
                                </ul>
                                <span class="difficulty">{{ us.complexity }}</span>
                            </div>
                            <div class="content">
                                <p>{{ us.description }}</p>
                            </div>
                            <div class="footer">
                                <div class="task-ctn">
                                    <img src="/assets/img/icons/task-icon.svg" alt="task icon"/>
                                    <span class="task-done">0</span>
                                    <span class="all-task">8</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}

                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="done">
            <div class="header-col">Terminées</div>
            <ul class="done-list column">
                {% if project.user_stories.done is defined %}
                    {% for us in project.user_stories.done %}
                        <li class="us" id="{{ us.id }}">
                            <div class="head">
                                <ul class="label">
                                    <li class="red">label</li>
                                </ul>
                                <span class="difficulty">{{ us.complexity }}</span>
                            </div>
                            <div class="content">
                                <p>{{ us.description }}</p>
                            </div>
                            <div class="footer">
                                <div class="task-ctn">
                                    <img src="/assets/img/icons/task-icon.svg" alt="task icon"/>
                                    <span class="task-done">0</span>
                                    <span class="all-task">8</span>
                                </div>
                                <ul class="member-list">
                                    <li>
                                        <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                    </li>
                                    <li>
                                        <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}

                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}