{% extends "ScrumbeProjectBundle:Layout:layout-app.html.twig" %}

{% block title %}Sprint{% endblock %}

{% block nav %}
    <nav class="nav-projects">
        <ul class="left-nav">
            <li class="logo">
                <a href="">
                    <img src="/assets/img/logo.svg" alt="search icon">
                </a>
            </li>
            <li><a href="{{ url('scrumbe_get_projects') }}">{{ "nav.projects" | trans() }}</a></li>
            <li><a href="">{{ "nav.learn" | trans() }}</a></li>
            <li>
                <a href="">
                    <img src="/assets/img/icons/search-icon.svg" alt="search icon">
                </a>
            </li>
        </ul>
        <ul class="right-nav">
            <li>
                <img src="/assets/img/icons/help-icon.svg" alt="help icon"/>
            </li>
            <li>
                <div class="notif-ctn">
                    <img src="/assets/img/icons/notification-icon.svg" alt="notification icon"/>
                    <span class="notif-count">2</span>
                </div>
            </li>
            <li>
                <div class="avatar-ctn">
                    <img src="/assets/img/Claude-Guglieri.png" alt="avatar">
                </div>
                <img src="/assets/img/icons/arrow-down-icon.svg" alt="arrown-down icon">
            </li>
        </ul>
    </nav>
    <div class="sub-nav-projects">
        <span class="title">{{ project.name }}</span>
        <div class="divider"></div>
        <ul class="sub-nav">
            <li class="active">
                <a href="{{ path('scrumbe_get_sprint', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ "nav.project.sprint" | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('scrumbe_get_project', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ 'nav.project.kanban' | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('scrumbe_get_backlog', {'projectId':project.id, 'projectName':project.url_name}) }}">{{ "nav.project.backlog" | trans() }}</a>
            </li>
            <li>
                <a href="{{ path('team') }}">{{ "nav.project.team" | trans() }}</a>
            </li>
        </ul>
        <a href="" class="add-sprint">
            <img src="/assets/img/icons/add-project-icon.svg" alt="add project icon">
        </a>
    </div>
{% endblock %}

{% block body %}
    <section class="sprint">
        <ul class="sprints-list">
            {% for sprint in project.sprints %}
                <li>
                    <div class="infos-ctn">
                        <span class="state {{ sprint.state }}"></span>
                        <h2>{{ sprint.name }}</h2>
                        <ul class="member-list">
                            <li>
                                <div class="avatar-ctn">
                                    <img src="/assets/img/Claude-Guglieri.png" alt=""/>
                                </div>
                            </li>
                            <li>
                                <div class="avatar-ctn">
                                    <img src="/assets/img/Thomas-Sanson.png" alt=""/>
                                </div>
                            </li>
                            <li>
                                <div class="avatar-ctn">
                                    <img src="/assets/img/Anthony-Ribeiro.png" alt=""/>
                                </div>
                            </li>
                            <li>
                                <div class="avatar-ctn">
                                    <img src="/assets/img/Christophe-Tauziet.png" alt=""/>
                                </div>
                            </li>
                        </ul>
                        <div class="task-count">
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="240 369.9 123 123" enable-background="new 240 369.9 123 123" xml:space="preserve">
                                <circle fill="#FFFFFF" stroke="#E6EAED" stroke-width="7" stroke-miterlimit="10" cx="301.6" cy="431.3" r="55.8"></circle>
                                <circle class="gauge" fill="none" stroke="#44C3D7" stroke-width="7" stroke-miterlimit="10" cx="301.6" cy="431.3" r="55.8" stroke-linecap="round"></circle>
                            </svg>
                            <div class="tasks">
                                <span class="done-tasks">{{ sprint.done_tasks }}</span>/<span class="total-tasks">{{ sprint.total_tasks }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="date-ctn">
                        <span class="start-date">{{sprint.start_date.date| localizeddate('medium', 'none')}}</span>
                        <img src="/assets/img/arrow.png" alt="arrow"/>
                        <span class="end-date">{{sprint.end_date.date| localizeddate('medium', 'none')}}</span>
                    </div>
                </li>
            {% endfor %}
            <li class="form-sprint" id="form-sprint">
                <form action="">
                    <div class="infos-ctn">
                        <input type="hidden" name="project_id" value="{{ project.id }}" class="project-id">
                        <input name="name" type="text" placeholder="Nom de l'itération" class="title"/>
                        <select name="user_stories" multiple class="us-list">
                            {% for user_story in project.user_stories %}
                                <option value="{{ user_story.id }}">US{{ user_story.number }}: {{ user_story.description }}</option>
                            {% endfor %}
                        </select>
                        <input name="start_date" type="text" placeholder="Date de début" class="start-date-input"/>
                        <img src="/assets/img/arrow.png" alt="arrow"/>
                        <input name="end_date" type="text" placeholder="Date de fin" class="start-end-input"/>
                        <span class="submit">Valider</span>
                    </div>
                </form>
            </li>
        </ul>
    </section>
{% endblock %}

{% block script %}
    <script src="/assets/js/libs/gauge.min.js"></script>
    <script src="/assets/js/libs/selectize.min.js"></script>
    <script src="/assets/js/libs/jquery.datetimepicker.js"></script>
    <script>
        // Gauge
        function gaugeCalculate(el) {
            var done = $(el).find('.done-tasks').text(),
                total = $(el).find('.total-tasks').text(),
                calc;

            if (done == 0 || total == 0){
                calc = 350
            }
            else {
                calc = (( done * 350 ) / total ) + 350
            }

            var target = $(el).find('.gauge');

            target.css('stroke-dashoffset', calc)
        }

        $(document).ready(function(){
            $('.sprints-list > li:not([class=form-sprint])').each(function(){
                gaugeCalculate(this);
            });
        });

        // Add Sprint
        $('.add-sprint').click(function(event){
            event.preventDefault();
            $('.form-sprint').css('display','inline-block');
            $('.form-sprint .title').focus();
            $('html,body').animate({
                scrollTop: $('#form-sprint').offset().top
            }, 1000);
        });

        // List US Selectize.js
        $('.us-list').selectize();

        // Initiate Datetime picker
        $('.start-date-input').datetimepicker({
            lang:'fr',
            timepicker:false,
            format:'d/m/Y'
        });
        $('.start-end-input').datetimepicker({
            lang:'fr',
            timepicker:false,
            format:'d/m/Y'
        });

        // Send new sprint
        $('.form-sprint .submit').click(function(){
            var project_id = $('.form-sprint .project-id').val();
            var title = $('.form-sprint .title').val();
            var startDate = $('.form-sprint .start-date-input').val();
            var endDate = $('.form-sprint .start-end-input').val();
            var us = $('.form-sprint .us-list').val();

            $.ajax({
                url: '{{ path('scrumbe_post_sprint') }}',
                method: 'POST',
                data: {
                    'project_id': project_id,
                    'name': title,
                    'user_stories': us,
                    'start_date': startDate,
                    'end_date': endDate
                }
            }).done(function(data){
                $('.form-sprint .project-id').val('');
                $('.form-sprint .title').val('');
                $('.form-sprint .start-date-input').val('');
                $('.form-sprint .start-end-input').val('');
                $('.form-sprint .us-list').val('');
                $('.form-sprint').hide();
                location.reload();
            }).fail(function(data){
                console.log(data)
            })
        })
    </script>
{% endblock %}