{% extends "ScrumbeFrontOfficeBundle:Home:index.html.twig" %}

{% block title %}Contact{% endblock %}

{% block nav %}
    <nav class="nav-landing black">
        <ul class="wrapper">
            <li class="logo">
                <a href="{{ path('index') }}">
                    <img src="/assets/img/logo.svg">
                </a>
            </li>
            <li>
                <a href="{{ path('scrum') }}">{{ 'nav.items.1'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('offres') }}">{{ 'nav.items.2'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('about') }}">{{ 'nav.items.3'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('contact') }}" class="active">{{ 'nav.items.4'|trans }}</a>
            </li>
            <li class="sign-in-btn">
                <span class="btn blue rounded">{{ 'nav.items.5'|trans }}</span>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <article class="article-about">
        <section class="contact">
            <h1>{{ 'contact.title'|trans }}</h1>
            <p>{{ 'contact.parag'|trans }}<br>{{ 'contact.parag2'|trans }}</p>
            <form action="#" method="post">
                <input type="text" placeholder="{{ 'contact.fullname'|trans }}">
                <input type="email" placeholder="{{ 'contact.email'|trans }}">
                <textarea placeholder="{{ 'contact.message'|trans }}" rows="10"></textarea>
                <input type="submit" value="{{ 'contact.button'|trans }}">
            </form>
        </section>
    </article>
{% endblock %}