<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Scrumbe - {% block title %}Home{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- start: CSS -->
        <link href="/assets/css/app.min.css" rel="stylesheet">
        <link href="/assets/css/selectordie.css" rel="stylesheet">

        <!-- JS -->
        {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
        {#<script src="/assets/js/libs/selectordie.min.js"></script>#}
        {#<script src="/assets/js/libs/typed.min.js"></script>#}

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements --><!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="assets/js/libs/respond.js"></script>
            <script src="assets/js/libs/selectivizr.js"></script>

        <!-- start: Favicon and Touch Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/ico/fav-icon144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/ico/fav-icon114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/ico/fav-icon72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/ico/fav-icon57.png">
        <link rel="shortcut icon" href="/assets/img/ico/fav-icon16.png">

        <!-- Fonts -->
        {#<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>#}

    </head>
    <body>
        {% block nav %}
            <nav class="nav-landing">
                <ul class="wrapper">
                    <li class="logo">
                        <a href="{{ path('index') }}">
                            <img src="/assets/img/logo.svg">
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('scrum') }}">{{ 'nav.items.1'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('offres') }}">{{ 'nav.items.2'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('about') }}">{{ 'nav.items.3'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">{{ 'nav.items.4'|trans }}</a>
                    </li>
                    <li class="sign-in-btn">
                        <span class="btn blue rounded">{{ 'nav.items.5'|trans }}</span>
                    </li>
                </ul>
            </nav>
        {% endblock %}

        {% block body %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="flash-notice">
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            <header class="header-home">
                <div class="wrapper-header">
                    <div class="contain-title">
                        <h1>{{ "home.header.title.phrase1"|trans }} <span class="openBold typed"></span></h1>
                        <p>{{ "home.header.parag"|trans }}</p>
                        <span class="sign-up-btn btn blue rounded">{{ 'nav.items.6'|trans }}</span>
                    </div>
                </div>
            </header>
            <article class="article-home">
                <section>
                    <div class="wrapper">
                        <div class="contain-article">
                            <h2><span class="openBold">{{ 'home.item1.title.word1'|trans }}</span> {{ 'home.item1.title.lastword'|trans }}</h2>
                            <p>{{ 'home.item1.parag'|trans }}</p>
                        </div>
                    </div>
                </section>
                <section class="odd-section">
                    <div class="wrapper">
                        <div class="contain-article">
                            <h2>{{ 'home.item2.title.word1'|trans }} <span class="openBold">{{ 'home.item2.title.word2'|trans }}</span> {{ 'home.item2.title.lastword'|trans }}</h2>
                            <p>{{ 'home.item2.parag'|trans }}</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="wrapper">
                        <div class="contain-article">
                            <h2><span class="openBold">{{ 'home.item3.title.word1'|trans }}</span> {{ 'home.item3.title.word2'|trans }} <span class="openBold">{{ 'home.item3.title.word3'|trans }}</span> {{ 'home.item3.title.lastword'|trans }}</h2>
                            <p>{{ 'home.item3.parag'|trans }}</p>
                        </div>
                    </div>
                </section>
                <section class="odd-section">
                    <div class="wrapper">
                        <div class="contain-article">
                            <h2><span class="openBold">{{ 'home.item4.title.word1'|trans }} </span>{{ 'home.item4.title.lastword'|trans }}</h2>
                            <p>{{ 'home.item4.parag'|trans }}</p>
                        </div>
                    </div>
                </section>
                <section class="final-section">
                    <div class="wrapper">
                        <div class="contain-final">
                            <h2>{{ 'home.final-item.title.word1'|trans }} <span class="openBold">{{ 'home.final-item.title.word2'|trans }}</span> {{ 'home.final-item.title.lastword'|trans }}</h2>
                            <p>{{ 'home.final-item.parag'|trans }}</p>
                            <span class="btn blue rounded sign-up-btn">{{ 'home.final-item.button'|trans }}</span>
                        </div>
                    </div>
                </section>
            </article>
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="wrapper-nav">
                    <ul>
                        <li>
                            <span class="copyright">{{ 'footer.copy'|trans }}</span>
                            <a href="#">{{ 'nav.items.1'|trans }}</a>
                            <a href="#">{{ 'nav.items.2'|trans }}</a>
                            <a href="{{ path('about') }}">{{ 'nav.items.3'|trans }}</a>
                            <a href="#">{{ 'nav.items.4'|trans }}</a>
                            <span class="sign-up-btn">{{ 'footer.nav.item5'|trans }}</span>
                            <select class="language-select">
                                <option value="{{ path( app.request.attributes.get('_route'), {'_locale': 'fr'}) }}" {% if app.request.locale == 'fr' %}selected{% endif %}>{{ 'footer.nav.lang.fr'|trans }}</option>
                                <option value="{{ path( app.request.attributes.get('_route'), {'_locale': 'en'}) }}" {% if app.request.locale == 'en' %}selected{% endif %}>{{ 'footer.nav.lang.en'|trans }}</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </footer>
        {% endblock %}

        <div class="modal-sign">
            <div class="sign-back"></div>
            <div class="sign-in">
                <div class="header-sign-in">
                    <span>{{ 'signin.title'|trans }}</span>
                    <span class="close-sign-in"><img src="/assets/img/Close_icon.png"></span>
                </div>
                <div class="contain-sign-in">
                    <form action="{{ path('login_check') }}" method="post">
                        {% if errors.loginForm|default %}{{ errors.loginForm|trans }}{% endif %}
                        <input type="text" id="username" placeholder="{{ 'signin.mailPH'|trans }}" name="_username" autofocus="autofocus">
                        <input type="password" name="_password" placeholder="{{ 'signin.pwdPH'|trans }}" required="required">
                        <input type="submit" value="{{ 'signin.button'|trans }}">
                    </form>
                    <a href="#">{{ 'signin.forgetpwd'|trans }}</a>
                </div>
                <div class="footer-sign-in">
                    <span>{{ 'signin.footer.word1'|trans }}</span>
                    <span class="sign-up-lk">{{ 'signin.footer.lastword'|trans }}</span>
                </div>
            </div>
            <div class="sign-up">
                <div class="header-sign-up">
                    <span>{{ 'signup.title'|trans }}</span>
                    <span class="close-sign-up"><img src="/assets/img/Close_icon.png"></span>
                </div>
                <div class="contain-sign-up">
                    {{ form_start(signinForm) }}
                    {{ form_widget(signinForm._token) }}
                    {{ form_widget(signinForm.email, {"attr": {"required": "required", "placeholder": 'signup.mailPH'} }) }}
                    {% if errors.signinForm.email|default %}{{ errors.signinForm.email|trans }}{% endif %}
                    {{ form_widget(signinForm.password, {"attr": {"required": "required", "placeholder": 'signup.pwdPH'} }) }}
                    {% if errors.signinForm.password|default %}{{ errors.signinForm.password|trans }}{% endif %}
                    {{ form_widget(signinForm.lastname, {"attr": {"required": "required", "placeholder": 'signup.lastnamePH'} }) }}
                    {% if errors.signinForm.lastname|default %}{{ errors.signinForm.lastname|trans }}{% endif %}
                    {{ form_widget(signinForm.firstname, {"attr": {"required": "required", "placeholder": 'signup.firstnamePH'} }) }}
                    {% if errors.signinForm.firstname|default %}{{ errors.signinForm.firstname|trans }}{% endif %}
                    <input type="submit" value="{{ 'signup.button'|trans }}">
                    <span>{{ 'signup.signin.word1'|trans }} </span>
                    <span class="sign-in-lk">{{ 'signup.signin.lastword'|trans }}</span>
                </div>
                <div class="footer-sign-up">
                    <span>{{ 'signup.footer.word1'|trans }} <a href="#">{{ 'signup.footer.word2'|trans }}</a>{{ 'signup.footer.word3'|trans }} <a href="#">{{ 'signup.footer.lastword'|trans }}</a></span>
                </div>
            </div>
        </div>

        <!--   SCRIPTS   -->
        <script src="/assets/js/libs/jquery-2.1.3.min.js"></script>
        <script src="/assets/js/libs/selectordie.min.js"></script>
        <script src="/assets/js/libs/typed.min.js"></script>
        <script src="/assets/js/script.js"></script>
    </body>
</html>