{% extends "ScrumbeFrontOfficeBundle:Home:index.html.twig" %}

{% block title %}Nos offres{% endblock %}

{% block nav %}
    <nav class="nav-landing black">
        <ul class="wrapper">
            <li class="logo">
                <a href="{{ path('index') }}">
                    <img src="/assets/img/logo.svg">
                </a>
            </li>
            <li>
                <a href="{{ path('scrum') }}">{{ 'nav.items.1'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('offres') }}" class="active">{{ 'nav.items.2'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('about') }}">{{ 'nav.items.3'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">{{ 'nav.items.4'|trans }}</a>
            </li>
            <li class="sign-in-btn">
                <span class="btn blue rounded">{{ 'nav.items.5'|trans }}</span>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
     <header class="header-offre">
        <div class="wrapper-header-fix">
            <div class="contain-title-fix">
                <h1>{{ 'offres.title.word1'|trans }} <span class="openBold">{{ 'offres.title.lastword'|trans }}</span></h1>
                <p>{{ 'offres.parag'|trans }}   {{ 'offres.parag2'|trans }}</p>
            </div>
        </div>
        <ul class="list-offre">
            <li>
                <div class="head">{{'offres.block1.title'|trans}}</div>
                <div class="ctn">
                    <span class="title1">{{'offres.block1.till'|trans}}</span>
                    <span class="tasks">{{'offres.block1.tasks'|trans}}</span>
                    <div class="divider"></div>
                    <span class="title2">{{'offres.block1.bestfor'|trans}}</span>
                    <span class="bold">{{'offres.block1.type'|trans}}</span>
                    <span class="btn green rounded">{{ 'offres.subs'|trans}}</span>
                </div>
            </li>
            <li>
                <div class="head">{{'offres.block2.title'|trans}}</div>
                <div class="ctn">
                    <span class="title1">{{'offres.block2.till'|trans}}</span>
                    <span class="tasks">{{'offres.block2.tasks'|trans}}</span>
                    <div class="divider"></div>
                    <span class="title2">{{'offres.block2.bestfor'|trans}}</span>
                    <span class="bold">{{'offres.block2.type'|trans}}</span>
                    <span class="btn blue rounded">{{ 'offres.subs'|trans}}</span>
                </div>
            </li>
            <li>
                <div class="head">{{'offres.block3.title'|trans}}</div>
                <div class="ctn">
                    <span class="title1">{{'offres.block3.till'|trans}}</span>
                    <span class="tasks">{{'offres.block3.tasks'|trans}}</span>
                    <div class="divider"></div>
                    <span class="title2">{{'offres.block3.bestfor'|trans}}</span>
                    <span class="bold">{{'offres.block3.type'|trans}}</span>
                    <span class="btn blue rounded">{{ 'offres.subs'|trans}}</span>
                </div>
            </li>
            <li>
                <div class="head">{{'offres.block4.title'|trans}}</div>
                <div class="ctn">
                    <span class="title1">{{'offres.block4.till'|trans}}</span>
                    <span class="tasks">{{'offres.block1.tasks'|trans}}</span>
                    <div class="divider"></div>
                    <span class="title2">{{'offres.block4.bestfor'|trans}}</span>
                    <span class="bold">{{'offres.block4.type'|trans}}</span>
                    <span class="btn blue rounded">{{ 'offres.subs'|trans}}</span>
                </div>
            </li>
            <li style="height: 272px">
                <div class="ctn">
                    <span class="title1" style="margin-top: 40px">{{'offres.block5.till'|trans}}</span>
                    <span class="tasks">{{'offres.block5.tasks'|trans}}</span>
                    <div class="divider"></div>
                    <span class="title2" style="margin-bottom: 48px">{{'offres.block5.bestfor'|trans}}</span>
                    <span class="btn grey rounded">{{ 'offres.longer'|trans}}</span>
                </div>
            </li>
        </ul>
    </header>

    <section class="study">
        <div class="wrapper-header-fix">
            <div class="contain-title-fix">
                <h1>{{'offres.title2.word1'|trans}} <span class="openBold">{{ 'offres.title2.lastword'|trans}}</span></h1>
                <p>{{'offres.parag3'|trans}}</p>
            </div>
        </div>
        <ul>
            <li>
                <div class="head">{{'offres.block6.title'|trans}}</div>
                <div class="ctn">
                    <span class="title1">{{'offres.block6.till'|trans}}</span>
                    <span class="tasks">{{'offres.block6.tasks'|trans}}</span>
                    <div class="divider"></div>
                    <span class="title2">{{'offres.block6.bestfor'|trans}}</span>
                    <span class="bold">{{'offres.block6.type'|trans}}</span>
                    <span class="btn blue rounded">{{ 'offres.subs'|trans}}</span>
                </div>
            </li>
            <li>
                <div class="head">{{'offres.block7.title'|trans}}</div>
                <div class="ctn">
                    <span class="title1">{{'offres.block7.till'|trans}}</span>
                    <span class="tasks">{{'offres.block7.tasks'|trans}}</span>
                    <div class="divider"></div>
                    <span class="title2">{{'offres.block7.bestfor'|trans}}</span>
                    <span class="bold">{{'offres.block7.type'|trans}}</span>
                    <span class="btn blue rounded">{{ 'offres.subs'|trans}}</span>
                </div>
            </li>
        </ul>
    </section>
{% endblock %}