{% extends "ScrumbeFrontOfficeBundle:Home:index.html.twig" %}

{% block title %}Nos offres{% endblock %}

{% block nav %}
    <nav class="nav-landing black">
        <ul class="wrapper">
            <li class="logo">
                <a href="{{ path('index') }}">
                    <img src="/assets/img/logo.svg">
                </a>
            </li>
            <li>
                <a href="{{ path('scrum') }}">{{ 'nav.items.1'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('offres') }}" class="active">{{ 'nav.items.2'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('about') }}">{{ 'nav.items.3'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">{{ 'nav.items.4'|trans }}</a>
            </li>
            <li class="sign-in-btn">
                <span class="btn blue rounded">{{ 'nav.items.5'|trans }}</span>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}

{% endblock %}