{% extends "ScrumbeFrontOfficeBundle:Home:index.html.twig" %}

{% block title %}What's Scrum?{% endblock %}

{% block nav %}
    <nav class="nav-landing black">
        <ul class="wrapper">
            <li class="logo">
                <a href="{{ path('index') }}">
                    <img src="/assets/img/logo.svg">
                </a>
            </li>
            <li>
                <a href="{{ path('scrum') }}" class="active">{{ 'nav.items.1'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('offres') }}">{{ 'nav.items.2'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('about') }}">{{ 'nav.items.3'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">{{ 'nav.items.4'|trans }}</a>
            </li>
            <li class="sign-in-btn">
                <span class="btn blue rounded">{{ 'nav.items.5'|trans }}</span>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <header class="header-scrum">
        <div class="wrapper-header-fix">
            <div class="contain-title-fix">
                <h1>{{ 'scrum.header.title.word1'|trans }} <span class="openBold">{{ 'scrum.header.title.lastword'|trans }}</span></h1>
                <p>{{ 'scrum.header.parag'|trans }}</p>
            </div>
        </div>
    </header>
    <article class="article-scrum">
        <section class="item-scrum">
            <div class="wrapper-scrum">
                <ul>
                    <li>
                        <img src="/assets/img/time.png">
                        <h2>{{ 'scrum.item1.title.word1'|trans }} <span class="green">{{ 'scrum.item1.title.lastword'|trans }}</span></h2>
                        <p>{{ 'scrum.item1.parag'|trans }}</p>
                    </li>
                    <li>
                        <img src="/assets/img/workflow.png">
                        <h2>{{ 'scrum.item2.title.word1'|trans }} <span class="green">{{ 'scrum.item2.title.lastword'|trans }}</span></h2>
                        <p>{{ 'scrum.item2.parag'|trans }}</p>
                    </li>
                    <li>
                        <img src="/assets/img/follow.png">
                        <h2>{{ 'scrum.item3.title.word1'|trans }} <span class="green">{{ 'scrum.item3.title.lastword'|trans }}</span></h2>
                        <p>{{ 'scrum.item3.parag'|trans }}</p>
                    </li>
                    <li>
                        <img src="/assets/img/secure.png">
                        <h2>{{ 'scrum.item4.title.word1'|trans }} <span class="green">{{ 'scrum.item4.title.lastword'|trans }}</span></h2>
                        <p>{{ 'scrum.item4.parag'|trans }}</p>
                    </li>
                    <li>
                        <img src="/assets/img/risk.png">
                        <h2>{{ 'scrum.item5.title.word1'|trans }} <span class="green">{{ 'scrum.item5.title.lastword'|trans }}</span></h2>
                        <p>{{ 'scrum.item5.parag'|trans }}</p>
                    </li>
                    <li>
                        <img src="/assets/img/progression.png">
                        <h2>{{ 'scrum.item6.title.word1'|trans }} <span class="green">{{ 'scrum.item6.title.lastword'|trans }}</span></h2>
                        <p>{{ 'scrum.item6.parag'|trans }}</p>
                    </li>
                </ul>
            </div>
        </section>
    </article>
{% endblock %}